<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LibraryManagementSystem</servlet-name>
  	<display-name>LibraryManagementSystem</display-name>
  	<description></description>
  	<servlet-class>com.LMS.LibraryManagementSystem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addabookservlet</servlet-name>
  	<display-name>Addabookservlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.Addabookservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deleteabookservlet</servlet-name>
  	<display-name>Deleteabookservlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.Deleteabookservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Updateabookservlet</servlet-name>
  	<display-name>Updateabookservlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.Updateabookservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberServlet</servlet-name>
  	<display-name>MemberServlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.MemberServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<display-name>SearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrowServlet</servlet-name>
  	<display-name>BorrowServlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.BorrowServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Borrow2Servlet</servlet-name>
  	<display-name>Borrow2Servlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.Borrow2Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBorrowedServlet</servlet-name>
  	<display-name>ViewBorrowedServlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.ViewBorrowedServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnServlet</servlet-name>
  	<display-name>ReturnServlet</display-name>
  	<description></description>
  	<servlet-class>com.LMS.ReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LibraryManagementSystem</servlet-name>
  	<url-pattern>/libraryManagementSystem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addabookservlet</servlet-name>
  	<url-pattern>/addabookservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deleteabookservlet</servlet-name>
  	<url-pattern>/deleteabookservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Updateabookservlet</servlet-name>
  	<url-pattern>/updateabookservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberServlet</servlet-name>
  	<url-pattern>/memberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrowServlet</servlet-name>
  	<url-pattern>/borrowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Borrow2Servlet</servlet-name>
  	<url-pattern>/borrow2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBorrowedServlet</servlet-name>
  	<url-pattern>/viewBorrowedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReturnServlet</servlet-name>
  	<url-pattern>/returnServlet</url-pattern>
  </servlet-mapping>
</web-app>
